<%- include('../partials/header.ejs') %>
    <form action="/auth/login" method="post">
        <label>Login</label>
        <input name="name">
        <input type="password" name="password">
        <button type="submit">Se connecter</button>
    </form>
<%- include('../partials/footer.ejs') %>