<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/snippets.css" rel="stylesheet" />
    <link href="/css/prism.css" rel="stylesheet" />
    <script src="/js/prism.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Snippets</h1>
        <div style="display: flex; gap: 50px">
            <div style="display: flex;">
                <a href="/" class="header" style="text-decoration: none;">Accueil</a>
                <a href="/languages" class="header" style="text-decoration: none;">Languages</a>
            </div>
            <div style="display: flex; gap: 15px">
                <% if (user) { %>
                    <p><%= user.name %></p>
                    <a href="/auth/logout" class="header" style="text-decoration: none;">Logout</a>
                <% } else { %>
                    <a href="/auth" class="header" style="text-decoration: none;">Se connecter</a>
                <% } %>
            </div>
        </div>
    </div>