<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonjour, une erreur la.</title>
</head>
<body>
    <p>
        Bonjour, il est possible, éventuellement, que j'ai crash. Bon ce n'est pas grave, cela va bien marcher a un moment nan ? J'ai confiance en tes capacités fin y'a l'autre aussi mais bon en vrai pas besoin de lui dire parce que la il fait rien, d'ailleurs il faut que je fasse projet voltaire (lui qui propose) voila voila l'erreur la maintenant :
    </p>
    <code>
        <%= err %>
    </code>
</body>
</html>