<%- include('../partials/header.ejs') %>
    <div class="content">
        <form method="post">
            <label for="title">Titre</label>
            <input name="title">
            <label for="language">Langage de Programmation</label>
            <select name="language">
                <% languages.forEach(lang => { %>
                 <option value="<%= lang.id%>"><%= lang.name %></option>
                <% }) %>
            </select>
            <label for="code">code</label>
            <textarea name="code"></textarea>
            <label for="description">Description</label>
            <textarea name="description"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
<%- include('../partials/footer.ejs') %>